@import 'settings/index';

@import "~igniteui-angular/lib/core/styles/themes/index";

$app-palette: igx-palette($primary, $secondary);
@include igx-core();
@include igx-theme($app-palette);


/**
 * Override styles of igniteui-angular
 */

// grid toolbar
.igx-grid-toolbar__custom-content {
  flex: 1 1 auto;
}

 // grid cell
.igx-grid__td {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
