<div class="grid-area">
  <igx-grid #grid
            [locale]="'ja-JP'"
            [data]="columnSettings"
            [primaryKey]="'field'"
            [showToolbar]="true"
            [toolbarTitle]="'Column Settings'">
    <igx-column [field]="'field'" [header]="'Property Name'" [dataType]="'string'" [pinned]="true" [resizable]="true">
    </igx-column>
    <igx-column [field]="'sampleValue'" [header]="'Data'" [pinned]="true" [resizable]="true">
      <ng-template igxCellEditor></ng-template>
    </igx-column>
    <igx-column [field]="'header'" [header]="'Header Name'" [dataType]="'string'" [resizable]="true" [editable]="true">
    </igx-column>
    <igx-column [field]="'dataType'" [header]="'Data Type'" [dataType]="'string'" [resizable]="true" [editable]="true">
      <ng-template igxCellEditor let-cell="cell">
        <igx-select [displayDensity]="grid.displayDensity"
                    [(ngModel)]="cell.editValue">
          <igx-select-item *ngFor="let dataType of dataTypes"
                           [value]="dataType">
            {{ dataType }}
          </igx-select-item>
        </igx-select>
      </ng-template>
    </igx-column>
  </igx-grid>
</div>
<div class="actions-area">
  <button type="button" igxButton="flat" (click)="onCancel()">Cancel</button>
  <button type="button" igxButton="raised" [disabled]="!canCommit" (click)="onCommit()">OK</button>
</div>
