<div class="command-area">
  <app-search-bar [condition]="searchCondition$ | async"
                  [result]="searchResult$ | async"
                  (search)="onSearch($event)">
  </app-search-bar>
  <button type="button"
          igxButton="raised"
          [igxToggleAction]="importDropdown"
          [igxDropDownItemNavigation]="importDropdown">
    <igx-icon>arrow_drop_down</igx-icon>
    インポート
  </button>
  <igx-drop-down #importDropdown (onSelection)="onSelectImportType($event, inputFile)">
    <igx-drop-down-item [value]="'.xlsx'">Excel</igx-drop-down-item>
    <igx-drop-down-item [value]="'.csv'">CSV</igx-drop-down-item>
    <!-- <igx-drop-down-item [value]="'url'">URL</igx-drop-down-item> -->
  </igx-drop-down>
  <input #inputFile
         type="file"
         style="display: none;"
         [accept]="extension"
         (change)="onImportFromFile($event)">
</div>

<div class="grid-area">
  <app-grid #grid
            [isLoading]="isLoading$ | async"
            [data]="data$ | async"
            [columns]="columns$ | async"
            [searchCondition]="searchCondition$ | async"
            (searchResult)="onSearchResult($event)"
            (changeData)="onChangeData($event)"
            (showColumnSettings)="onShowColumnSettings()">
    <div class="loading">
      <div>
        <igx-circular-bar [indeterminate]="true"></igx-circular-bar>
      </div>
      <div>
        読み込み中
        <svg id="dots" width="30px" height="20px">
          <g fill="#000">
            <circle id="dot1" cx="5" cy="18" r="2"></circle>
            <circle id="dot2" cx="15" cy="18" r="2"></circle>
            <circle id="dot3" cx="25" cy="18" r="2"></circle>
          </g>
        </svg>
      </div>
    </div>
  </app-grid>
</div>

<!-- TODO: maybe remove someday -->
<!-- <as-split [direction]="'horizontal'"
          (dragEnd)="onDragEnd($event)">
  <as-split-area [size]="100">
    <app-grid #grid
              [isLoading]="isLoading$ | async"
              [data]="data$ | async"
              [columns]="columns$ | async"
              [searchCondition]="searchCondition$ | async"
              (searchResult)="onSearchResult($event)"
              (selectItem)="onSelectItem($event)">
    </app-grid>
  </as-split-area>

  <as-split-area [size]="detailItem ? 200 : 0">
    <ng-container *ngIf="detailItem">
      <button style="position: absolute; right: 0;" igxButton="icon" (click)="hideDetail()">
        <igx-icon>clear</igx-icon>
      </button>
      <app-detail [item]="detailItem"></app-detail>
    </ng-container>
  </as-split-area>
</as-split> -->
