@import 'variables/index';

:host {
  display: block;
  width: 100vw;
  min-width: 768px;
  height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: $header-height;
  padding-bottom: $footer-height;
  overflow: hidden;
}
