:host {
  display: block;
  width: 100vw;
  height: 100vh;
}

.content {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 56px; // header height
  padding-bottom: 28px; // footer height
  overflow: hidden;
}
