@import 'variables/index';

:host {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

footer {
  text-align: center;
  color: var(--igx-navbar-text-color);
  background-color: $primary;
}
