:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.widget-container {
  display: grid;
  max-width: 1024px;
  margin: auto;

  @media screen and (max-width:764px) {
    grid-template-columns: repeat(1, 1fr);
  }

  @media screen and (min-width:765px) {
    grid-template-columns: repeat(2, 1fr);
    .widget:first-child {
      grid-column: 1 / 3;
    }
  }

  // @media screen and (min-width:960px) and (max-width:1279px) {
  //   grid-template-columns: repeat(3, 1fr);
  // }

  // @media screen and (min-width:1280px) {
  //   grid-template-columns: repeat(4, 1fr);
  // }

  grid-auto-rows: minmax(350px, auto);
  column-gap: 3rem;
  row-gap: 3em;
  padding: 3rem;
}

.widget__header {
  flex-grow: 0;
}

.widget__content {
  flex: 1 0; /* fix for Safari */
  display: flex;
}
