<div class="widget-container">
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
</div>
