<!--
  TODO: remove when this page is completed.
-->
<igx-snackbar [isVisible]="true">
  <div style="display: flex;">
    <igx-icon style="margin-right: 1rem;">warning</igx-icon>
    <span style="font-size: 1.2rem;">Under Construction</span>
  </div>
</igx-snackbar>

<div class="widget-container">
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
  <igx-card class="widget">
    <igx-card-header>
      <h3 igxCardHeaderTitle>Widget Title</h3>
      <h5 igxCardHeaderSubtitle>Widget Sub Title</h5>
    </igx-card-header>
    <igx-card-content>
      Widget Content
    </igx-card-content>
  </igx-card>
</div>
