:host {
  display: block;
  height: 100%;
}

// search area
.search-row + .search-row {
  margin-top: 1rem;
}

.is-vertical {
  igx-input-group + igx-input-group {
    margin-left: 1rem;
  }
  .search-button {
    order: 1;
    width: 200px;
  }
}

.is-horizontal {
  .search-row {
    flex-wrap: wrap !important;
  }
  igx-input-group {
    flex: 1 1 100% !important;
  }
  igx-input-group + igx-input-group {
    margin-top: 1rem;
  }
  .search-button {
    width: 100%;
  }
  .search-button + igx-buttongroup {
    margin-top: 1rem;
  }
}

// grid area
::ng-deep {
  .igx-grid__th--number .header {
    .header__text {
      order: 1 !important;
    }
  }
  .header__icon {
    width: 0.9375rem;
    height: 0.9375rem;
    font-size: 0.9375rem;
    color: rgba(0, 0, 0, 0.38);
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
  .igx-grid__th:hover {
    .header__icon {
      opacity: 1;
    }
  }
}

