<ng-template #loadingTemplate>
  <ng-content select=".loading"></ng-content>
</ng-template>

<igx-grid #grid
          [isLoading]="isLoading"
          [loadingGridTemplate]="loadingTemplate"
          [data]="data"
          [primaryKey]="primaryKey"
          [locale]="'ja-JP'"
          [displayDensity]="'compact'"
          [allowFiltering]="true"
          [filterMode]="'excelStyleFilter'"
          [rowSelectable]="true"
          [showToolbar]="true"
          [toolbarTitle]="toolbarTitle"
          [exportText]="'Export'"
          [exportExcel]="true"
          [exportExcelText]="'Excel'"
          [exportCsv]="true"
          [exportCsvText]="'CSV'"
          (onToolbarExporting)="onToolbarExporting($event)"

          [clipboardOptions]="{ enabled: true, separator: '\t' }"

          appPaste
          (pasteData)="onPasteData($event)"

          appUndoRedo
          (undo)="onUndo()"
          (redo)="onRedo()"

          appRangeRowSelection>
  <ng-template igxToolbarCustomContent let-igxGrid="grid">
    <button igxButton="icon" [disabled]="!canDelete" (click)="onDelete()">
      <igx-icon>delete</igx-icon>
    </button>
    <button igxButton="icon" [disabled]="!canUndo" (click)="onUndo()">
      <igx-icon>undo</igx-icon>
    </button>
    <button igxButton="icon" [disabled]="!canRedo" (click)="onRedo()">
      <igx-icon>redo</igx-icon>
    </button>
    <button igxButton="icon" [disabled]="!canCommit" (click)="onCommit()">
      <igx-icon>done_all</igx-icon>
    </button>
    <button igxButton="icon" [disabled]="!canClear" (click)="onClear()">
      <igx-icon>clear</igx-icon>
    </button>
    <button igxButton="flat" (click)="onColumnSettings()">
      <igx-icon>settings</igx-icon>
      Column Settings
    </button>
  </ng-template>

  <igx-column *ngFor="let column of columns"
              [field]="column.field"
              [header]="column.header"
              [dataType]="column.dataType"
              [editable]="true"
              [filterable]="true"
              [groupable]="true"
              [movable]="true"
              [pinned]="false"
              [resizable]="true"
              [sortable]="true"
              [disableHiding]="true">
    <!-- TODO: When we can do in another way, remove these templates.
      https://github.com/IgniteUI/igniteui-angular/issues/4246#issuecomment-471460353
    -->
    <ng-template igxExcelStyleMovingTemplate></ng-template>
    <ng-template igxExcelStyleSortingTemplate></ng-template>
  </igx-column>

</igx-grid>
