<ng-template #loadingTemplate>
  <ng-content select=".loading"></ng-content>
</ng-template>

<igx-grid #grid
          [isLoading]="isLoading"
          [loadingGridTemplate]="loadingTemplate"
          [data]="data"
          [primaryKey]="primaryKey"
          [locale]="'ja-JP'"
          [displayDensity]="'compact'"
          [allowFiltering]="true"
          [filterMode]="'excelStyleFilter'"
          [rowSelectable]="true"
          [showToolbar]="true"
          [toolbarTitle]="toolbarTitle"
          [exportText]="'エクスポート'"
          [exportExcel]="true"
          [exportExcelText]="'Excel'"
          [exportCsv]="true"
          [exportCsvText]="'CSV'"
          (onToolbarExporting)="onToolbarExporting($event)"
          (onCellEdit)="onCellEdit($event)"

          [clipboardOptions]="{ enabled: true, separator: '\t' }"

          appPaste
          (pasteData)="onPasteData($event)"

          appUndoRedo
          (undo)="onUndo()"
          (redo)="onRedo()"

          appRangeRowSelection>
  <ng-template igxToolbarCustomContent let-igxGrid="grid">
    <button igxButton="icon" [disabled]="!canDelete" (click)="onDelete()">
      <igx-icon>delete</igx-icon>
    </button>
    <button igxButton="icon" [disabled]="!canUndo" (click)="onUndo()">
      <igx-icon>undo</igx-icon>
    </button>
    <button igxButton="icon" [disabled]="!canRedo" (click)="onRedo()">
      <igx-icon>redo</igx-icon>
    </button>
    <button igxButton="icon" [disabled]="!canCommit" (click)="onCommit()">
      <igx-icon>done_all</igx-icon>
    </button>
    <button igxButton="icon" [disabled]="!canClear" (click)="onClear()">
      <igx-icon>clear</igx-icon>
    </button>
  </ng-template>

  <ng-container *ngFor="let column of columns">
    <ng-container [ngSwitch]="column.field">
      <igx-column *ngSwitchCase="'性別'"
                  [field]="column.field"
                  [dataType]="column.dataType"
                  [editable]="true"
                  [filterable]="true"
                  [groupable]="true"
                  [movable]="true"
                  [pinned]="false"
                  [resizable]="true"
                  [sortable]="true"
                  [disableHiding]="true">
        <ng-template igxCellEditor let-cell="cell" #genderEditor>
          <igx-select [displayDensity]="grid.displayDensity"
                      [(ngModel)]="cell.editValue"
                      [igxFocus]="true">
            <igx-select-item *ngFor="let gender of ['男', '女']"
                             [value]="gender">
              {{ gender }}
            </igx-select-item>
          </igx-select>
        </ng-template>
        <ng-template igxExcelStyleMovingTemplate></ng-template>
        <ng-template igxExcelStyleSortingTemplate></ng-template>
      </igx-column>

      <igx-column *ngSwitchCase="'生年月日'"
                  [field]="column.field"
                  [dataType]="column.dataType"
                  [editable]="true"
                  [filterable]="true"
                  [groupable]="true"
                  [movable]="true"
                  [pinned]="false"
                  [resizable]="true"
                  [sortable]="true"
                  [disableHiding]="true">
        <ng-template igxCellEditor let-cell="cell" #dateEditor>
          <igx-date-picker [mode]="'dropdown'"
                           [labelVisibility]="false"
                           [locale]="grid.locale"
                           [mask]="'yyyy/MM/dd'"
                           [(ngModel)]="cell.editValue"
                           [igxFocus]="true">
            <!-- TODO: issue: template is not applied -->
            <!-- <ng-template igxCalendarSubheader let-format>
              <span class="date__el" (click)="format.yearView()">{{ format.year.combined }}</span>
              <span class="date__el" (click)="format.monthView()">{{ format.month.combined | titlecase }}</span>
            </ng-template> -->
          </igx-date-picker>
        </ng-template>
        <ng-template igxExcelStyleMovingTemplate></ng-template>
        <ng-template igxExcelStyleSortingTemplate></ng-template>
      </igx-column>

      <igx-column *ngSwitchCase="'血液型'"
                  [field]="column.field"
                  [dataType]="column.dataType"
                  [editable]="true"
                  [filterable]="true"
                  [groupable]="true"
                  [movable]="true"
                  [pinned]="false"
                  [resizable]="true"
                  [sortable]="true"
                  [disableHiding]="true">
        <ng-template igxCellEditor let-cell="cell" #bloodTypeEditor>
          <igx-select [displayDensity]="grid.displayDensity"
                      [(ngModel)]="cell.editValue"
                      [igxFocus]="true">
            <igx-select-item *ngFor="let bloodType of ['A', 'B', 'AB', 'O']"
                             [value]="bloodType">
              {{ bloodType }}
            </igx-select-item>
          </igx-select>
        </ng-template>
        <ng-template igxExcelStyleMovingTemplate></ng-template>
        <ng-template igxExcelStyleSortingTemplate></ng-template>
      </igx-column>

      <igx-column *ngSwitchDefault
                  [field]="column.field"
                  [dataType]="column.dataType"
                  [editable]="column.editable"
                  [filterable]="true"
                  [groupable]="true"
                  [movable]="true"
                  [pinned]="false"
                  [resizable]="true"
                  [sortable]="true"
                  [disableHiding]="true">
        <ng-template igxExcelStyleMovingTemplate></ng-template>
        <ng-template igxExcelStyleSortingTemplate></ng-template>
      </igx-column>
    </ng-container>
  </ng-container>

</igx-grid>
