<igx-grid #grid
          [isLoading]="isLoading"
          [data]="data"
          [primaryKey]="primaryKey"
          [locale]="'ja-JP'"
          [displayDensity]="'compact'"
          [allowFiltering]="true"
          [filterMode]="'excelStyleFilter'"
          [rowSelectable]="true"
          [showToolbar]="true"
          [toolbarTitle]="toolbarTitle"
          [exportText]="'エクスポート'"
          [exportExcel]="true"
          [exportExcelText]="'Excel'"
          [exportCsv]="true"
          [exportCsvText]="'CSV'"
          (onToolbarExporting)="onToolbarExporting($event)"
          (onDoubleClick)="onDoubleClick($event)"
          (onCellEdit)="onCellEdit($event)"

          appCopyPaste
          (pasteFromExcel)="onPaste($event)"

          appUndoRedo
          (undo)="onUndo()"
          (redo)="onRedo()">
  <ng-template igxToolbarCustomContent let-igxGrid="grid">
    <button igxButton="icon" [disabled]="!hasPrevHistory" (click)="onUndo()">
      <igx-icon>undo</igx-icon>
    </button>
    <button igxButton="icon" [disabled]="!hasNextHistory" (click)="onRedo()">
        <igx-icon>redo</igx-icon>
    </button>
  </ng-template>

  <igx-column *ngFor="let column of columns"
              [field]="column.field"
              [header]="column.header"
              [dataType]="column.dataType"
              [editable]="true"
              [filterable]="true"
              [groupable]="true"
              [movable]="true"
              [pinned]="false"
              [resizable]="true"
              [sortable]="true"
              [disableHiding]="true">
    <!-- TODO: When we can do in another way, remove these templates.
      https://github.com/IgniteUI/igniteui-angular/issues/4246#issuecomment-471460353
    -->
    <ng-template igxExcelStyleMovingTemplate></ng-template>
    <ng-template igxExcelStyleSortingTemplate></ng-template>
  </igx-column>

</igx-grid>
